body {
    background-color: #2d2a2a;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #2d2a2a 20%, #2d2a2a 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #2d2a2a 20%, #2d2a2a 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#f77945 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #f77945 8px, #2d2a2a 8px) -4px 0;
    background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}
textarea {
    resize: none; 
    height: 450px;
    width: 100%;
    font-size: 18px;
    padding: 17px;
}
.container {
    width: 70vw;
    padding-top: 7vh;
    margin: auto;
}
.main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 13px;
}
.mainButton {
    width: 50%;
    height: 13%;
    margin-top: 13px;

    background-color: #db4d10; 
    border-radius: 7px;
    border-color: rgb(56, 56, 56);
    border-style: dashed;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 27px;
    font-weight: bolder;
}
.bannerDiv {
    background-color: #1a1818;
    color:#f77945;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.innerDiv {
    order: 2;
    flex-grow: 1;
}

